.main{
    margin:0 3.5rem;
    width: 100%;
}

.title{
    font-weight: bold;
    font-size: 3rem;
}

.content{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    row-gap: 5px;
    column-gap: 10%;
}

.star-img{
    width:30px;
}

.data {
    display: flex;
    gap:10px;
    align-items: center;
}

.data > p{
    font-size: 1rem;
}

@media screen and (max-width: 480px) {
    .n-list {
        display: none;
    }
    .n-name{
        font-size: 30px;
    }
    .main{
        margin: 0;
    }
    .content{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 5px;
        column-gap: 10%;
    }    
}
  